.collector{
    background-color: #F5F9FF;
}
#dark .collector{
    background-color: #2A3655;
}

.collector-con{
    padding: 105px 0px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.collector-left{    
    background-color: #DBE9FF;
    padding: 20px;
    border-radius: 25px;
    position: relative;
}
#dark .collector-left{    
    background-color: #202537;
    padding: 20px;
    border-radius: 25px;
    position: relative;
}

.collector-link{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}
#dark .collector-link{
    color: #fff;
}

.collector-head{
    font-size: 1.4em;
    font-weight: 350;
    padding-bottom: 17px;
}
#dark .collector-head{
    color: #fff;
}

.collector-text{
    font-size: 14px;
    opacity: .7;
    padding-bottom: 17px;
}
#dark .collector-text{
    color: #fff;
    
}

.collect-btn{
    width: 100%;
    justify-content: end;
    display: flex;
    
}
.collect-fees{
    border: none;
    height: 3rem;
    border-radius: 25px;
    background-color: #F5F9FF;
    padding-left: 1rem;
    padding-right: 1rem;
}
#dark .collect-fees{
    color: #fff;
    background-color: #2A3655;
   
}

.earn-protocol h1{
    font-size: 1.4em;
    font-weight: 600;
}
#dark .earn-protocol{
    color: #FFFFFF !important;
    background-color: #395284 ;
}

.earn-protocol{
    background-color: #FFFFFF;
    border-radius: 25PX;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    overflow-x: scroll;
}

.earn-protocol::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }


.earn-protocol-top{
    display: flex;
    justify-content: space-between;
}
.earn-protocol-top img{
    height: auto;
    max-width: 90px;
}

.earn-protocol table{
    width: 100%;
    font-size: 14PX;
    text-indent: 0;
}

.earn-protocol thead th{
    text-align: left;
    opacity: .7;
    font-size: 14px;
    font-weight: 500;
}


.earn-protocol thead th {
    
    text-wrap: nowrap;
    
}
.earn-protocol th,
.earn-protocol td {
    padding: 12px 15px;

    
}

.earn-protocol tbody td{
    border-top: 1px solid #F5F9FF;
}
.earn-protocol tbody tr:hover{
    background-color: #F5F9FF;
}
#dark .earn-protocol tbody td{
    border-top: 1px solid #2A3655;
}
#dark .earn-protocol tbody tr:hover{
    background-color: #2A3655;
}

.collector-right{
    background-color: #DBE9FF;
    padding: 20px;
    border-radius: 25px;
    max-width: 450px;
}
#dark .collector-right{
    background-color: #202537;
    padding: 20px;
    border-radius: 25px;
    max-width: 450px;
}

.collector-first-card{
    background-color: #FFFFFF;
    display: flex;
    padding: 0   20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: scroll;
}
#dark .collector-first-card{
    background-color: #395284;
    color: #fff;
}


.cfc-left{
    width: 100%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 25px;
}

.cfc-right{
    text-align: left;
    width: 100%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collector-hr{
    opacity: .7;
    margin-right: 20px;
}

.collector-first-card h1{
    opacity: .7;
    font-size: 17px;
    font-weight: 400;
}


.collector-first-card::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
.cfc-left svg{
 width: 15px;
 color: #60A5FA;
}
.cfc-right svg{
    width: 15px;
   }
.collect-fees {
    position: relative;
}
.collect-fees svg{
    width: 17px;
    color: #60A5FA;
    position: absolute;
}

.collect-fees span{
    padding-left: 25px;
}



.cfc-bold{
    font-weight: 700;
    font-size: 1.6em;
}

.collector-second-card{
    background-color: #FFFFFF;
    display: flex;
    padding: 0 20px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#dark .collector-second-card{
    background-color: #395284;
    color: #fff;
}

.csc-text{
    font-size: 14px;
}

@media (min-width:1024px) {
    .collect-btn{
        height: 50px;
        position: relative;
    }
    .collect-fees{
        position: fixed;
    }
    
}
@media (min-width:1278px) {
    .collector-con{
        flex-direction: row;
    }
    .collector-first-card{
        width: 350px;
    }
}


