.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 50px;
    bottom: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    width: 53px;
    background-color: #ffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: #93BBFB;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch svg{
    width: 23px;
    position: absolute;
    right: -20px;
    top: 0px;
    color: #fff;
  }

  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

  #dark .switch  .light-mode{
    display: none;
  }
  #light .switch  .light-mode{
    color: #000;
    animation: rotate 1s linear 
  }

  #light .switch .dark-mode{
    display: none;
  }

  #dark .switch .dark-mode{
    animation: rotate 1s linear 
  }
  
  input:checked + .slider {
    background-color: #395284;
  }
  input:checked + .slider:before {
    background-color: #202537;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #395284;
  }


  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.navbar {
    display: flex;
    height: 45px;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #fff;
    position: fixed; /* Stay at the top while scrolling */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's on top of everything else */
    background-color: #fff; /* Background color to cover content underneath */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

#dark .navbar{
    background-color: #395284;
}

.nav-left {
    display: flex;
    gap: 60px;
    position: relative;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-gif img {
    width: 50px;
}

.navbar-image img {
    width: 90px;
}

.nav-list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-list li {
    list-style: none;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
}



.nav-link svg {
    position: absolute;
    padding-left: 5px;
}
.nav-link  {
  z-index: 1;
  padding: 10px 25px 10px 30px;
  border-radius: 25px;
  position: relative;
  
}

/* .nav-link.active svg {
  background-color: #DBE9FF;
  z-index: -1;
  color: #000; 
} */


#dark .nav-link.active svg {
    color: #000; 
  } 
.nav-link.active  {
  background-color: #DBE9FF;
  color: #000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list li svg    {
    width: 20px;
    position: absolute;
    left: 0;
    
}

.nav-link svg:hover {
    background-color: #DBE9FF;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link:hover {
    background-color: #DBE9FF;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link.external:hover{
  background-color: #DBE9FF !important;
}
#dark .nav-link:hover{
    background-color: #0F2135;
}

#dark .nav-link svg:hover{
    background-color: #0F2135;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.nav-right button {
    background-color: #93bbfb;
    border-radius: 25px;
    border: none;
    padding: 8px 12px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #000;
}

.nav-right button:hover{
    background-color: #70A5FA;
}
.nav-burger {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 12px;
    display: none;
}

.nav-burger div {
    width: 15px;
    border: 1px solid black;
    margin-top: 4px;
}

#dark .nav-burger div{
    border-color: #fff;
}


.nav-link{
    
    text-decoration: none;
    color: #000;
}

#dark .nav-link{
    color: #fff;
}

.nav-link.external{
  background-color: #fff !important;
  box-shadow: none;
}
#dark .nav-link.external{
  background-color: #395284 !important;
  box-shadow: none;
}
#dark .nav-link.external:hover{
  background-color: #0F2135 !important;
  box-shadow: none;
}

#dark .nav-link.active svg{
    color: #fff;
}
#dark .nav-link.active{
    background-color: #0F2135;
}

#dark .nav-right button{
    background-color: #202537;
    color: #fff;
}
#dark .nav-right button:hover{
    background-color: #131620;
    color: #fff;
}
@media (max-width: 1309px) {
    .navbar-logo {
        display: none;
    }
}

@media (max-width: 1024px) {
    .nav-burger {
        display: flex;
    }

    #dark .nav-list{
        background-color: #395284;
        
    }

    .nav-list {
        position: absolute;
        flex-direction: column;
        gap: 0px;
        top: 60px;
        left: -5px;
        background-color: #fff;
        width: 150px;
        align-items: flex-start;
        border-radius: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        display: none; /* Hide by default on smaller screens */
        z-index: 1000; /* Ensure it's on top of everything else */
    }

    .nav-list.show {
        display: flex; /* Show when toggled */
    }

    .nav-list li {
        margin-left: -20px;
        width: 110%;
        margin-bottom: 0px;
    }
    .nav-link svg{
        margin-left: -0px;
    }
    .nav-link{
        width: 100%;
        margin-left: -15px;
    }
}

