.stake{
    background-color: #F5F9FF;
}

#dark .stake{
    background-color: #2A3655;
}

.stake-con{
    padding: 105px 0px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.stake-first-card{
    overflow-x: scroll;
}
.stake-head{
    font-size: 1.4em;
    font-weight: 450;
    padding-bottom: 17px;
}
#dark .stake-head{
    color: #fff;
    font-size: 1.4em;
    font-weight: 450;
    padding-bottom: 17px;
}

#dark .stake-text{
    color: #fafcff99;
    opacity: .7;
    padding-bottom: 17px;
}
.stake-text{
    font-size: 14px;
    opacity: .7;
    padding-bottom: 17px;
}

.sort-btn{
    display: flex;
    justify-content: space-between;
    position: relative;
}


  
  .sort-btn.fixed {
    position: fixed;
    top: 0;
    left: 0; /* Adjust based on your layout */
    right: 0; /* Adjust based on your layout */
    z-index: 1000;
    background-color: white; /* Optional: add a background color to make the button visible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
  }
  
.sort-btn button{
    padding:15px 20px 15px 40px;
    border: none;
    border-radius: 25px;
    background-color: #F5F9FF;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
#dark .sort-btn button{
    background-color: #2a3655;
    color: #fff;
}

.sort-btn button:hover{
    background-color: #DBE9FF;
}
#dark .sort-btn button:hover{
    background-color: #202537;
}
.sort-btn button svg{
    width: 20px;
    top: 12px;
    left: 15px;
    position: absolute;
    color: #60A5FA;

}
#dark .sort-btn button svg{
    width: 20px;
    top: 12px;
    left: 15px;
    position: absolute;
    color: #4C7DBE;

}

.loading-svg{
    position: relative;
    width: 20px;
    color: #60A5FA;

}
#dark .loading-svg{
    position: relative;
    width: 20px;
    color: #4C7DBE;

}

.loading-svg svg{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
.loading-svg svg:hover{
    display: inline-block;
    animation: rotate 1s linear ;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sorting{
    position: relative;
}

.sorting ul{
    position: absolute;
    width: 160px;
    display: none;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}

#dark .sorting ul{
    background-color: #395284;
    color: #fff;
}


.stake .sorting:hover ul,
.stake .sorting.active ul {
  display: block;
}
.sorting li{
    list-style: none;
    font-size: 14px;
    display: flex;
    padding:10px;
    margin-left: -30px;
    justify-content: space-between;
    width: 100%;
}

.sorting li:hover{
    border-radius: 25px;    
    background-color: #E8E9EA;
}

.sorting span svg{
    width: 15px;
    padding-right: 5px;
    color: #60A5FA;
}
.stake-left{    
    background-color: #DBE9FF;
    padding: 20px;
    border-radius: 25px;
}
#dark .stake-left{    
    background-color: #202537;
    padding: 20px;
    border-radius: 25px;
}

.stake-space{
    height: 34rem;
    margin-bottom: 15px;
    border-radius: 25px;
    width: 100%;
    margin-top: 15px;
}

.stake-space-card{
    height: 100%;
    opacity: .5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ss-left{
    background-color: #F1F7FF;
    height: 50%;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
#dark .ss-left{
    background-color: #293452;
    height: 50%;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.ss-right{
    background-color: #ffffff;
    height: 50%;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#dark .ss-right{
    background-color: #384F7F;
    height: 50%;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.ssr-left{
    width: 50%;
    padding-left: 10px;
}

.ssr-right{
    width: 50%;
}

.ssr-short{
    height: 20px;
    width: 40%;
    background-color: #E9F1FF;
    margin-bottom: 20px;
    border-radius: 25px;
}
#dark .ssr-short{
    height: 20px;
    width: 40%;
    background-color: #293452;
    margin-bottom: 20px;
    border-radius: 25px;
}

.ssr-long{
    height: 30px;
    max-width: 90%;
    background-color: #E9F1FF;
    margin-bottom: 20px;
    border-radius: 25px;
    

}
#dark .ssr-long{
    height: 30px;
    max-width: 90%;
    background-color: #293452;
    margin-bottom: 20px;
    border-radius: 25px;
    

}
.stake-right{
    border-radius: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.stake-right-top{
    background-color: #DBE9FF;
    padding: 30px 20px;
    border-radius: 25px;
}
#dark .stake-right-top{
    background-color: #202537;
    padding: 30px 20px;
    border-radius: 25px;
}

.cst-search-head{
    display: flex;
    justify-content: space-between;
}

.cst-sb-right{
    text-align: end;
}
.cst-bottom{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 25px;
}
#dark .cst-bottom{
    background-color: #395284;
    color: #fff;
}
.cst-bottom input{
    width: 92%;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 35px;
    border-width: 0.1px;
    margin-top: 10px;
    line-height: 1.5rem;
    border-color: rgba(0, 0, 0, 0.3);

}
#dark .cst-bottom input{
    background-color: #395284;
    
    border-color: rgba(255, 255, 255, 0.3);

}

.stake-search {
    position: relative;
}
.stake-search img{
  width: 43px;
  position: absolute;
  right: 5%;
  top: 12px;
}


.create-stake-tab ul{
    display: flex;
}
.create-stake-tab li{
  padding: 8px 8px 19px 8px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  cursor: pointer;
  opacity: .7;
  list-style: none;
}

#dark .create-stake-tab li{
  padding: 8px 8px 19px 8px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  cursor: pointer;
  opacity: .7;
  list-style: none;
  color: #fafcff99;
}
.create-stake-tab li:hover{
    opacity: 1;
}

.create-stake-tab li.active{
  background-color: #FFFFFF;
  opacity: 1;
  
}
#dark .create-stake-tab li.active{
  background-color: #395284;
  opacity: 1;
  color: #fff;
  
}

.cst-search-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.create-stake button{
    background-color: #93bbfb;
    border-radius: 25px;
    border: none;
    padding: 17px 12px;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin-top: 30px;
}
#dark .create-stake button{
    background-color: #202537;
    color: #fff;
}

.create-stake button:hover{
    background-color: #70A5FA;
}
#dark .create-stake button:hover{
    background-color: #131620;
}
.cst-bottom p{
    font-size: .875rem;
    line-height: 1.25rem;
}

.statistics-stake{
    background-color: #DBE9FF;
    padding: 20px;
    border-radius: 25px;
}
#dark .statistics-stake{
    background-color: #202537;
    padding: 20px;
    border-radius: 25px;
}

.stake-first-card{
    background-color: #FFFFFF;
    display: flex;
    padding: 0   20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#dark .stake-first-card{
    background-color: #395284;
    display: flex;
    padding: 0   20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.sfc-left{
    width: 100%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sfc-left svg{
    width: 12px;
    color: #60A5FA;
}

.sfc-right{
    text-align: left;
    width: 100%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sfc-right svg{
    width: 13px;
    padding-right: 6px;
}

.stake-hr{
    opacity: .7;
    margin-right: 20px;
}

.stake-first-card h1{
    opacity: .7;
    font-size: 17px;
    font-weight: 400;
}
#dark .stake-first-card h1{
    color: #fff;
    opacity: .7;
    font-size: 17px;
    font-weight: 400;
}



.sfc-bold{
    font-weight: 700;
    font-size: 25px;
}

#dark .sfc-bold{
    color: #fff;
}

.stake-second-card{
    background-color: #FFFFFF;
    display: flex;
    padding: 0 20px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ssc-text{
    font-size: 14px;
}

@media (min-width:1024px) {
    .stake-right{
        flex-direction: row;        
    }

    .stake-right-top{
        width: 45%;
    }
    .stake-right-bottom{
        width: 55%;
    }

    .stake-space-card{
        display: flex;
        border-radius: 25px;
    }
 
.stake-space{
    height: 15rem;
    
}
    .ss-left{
    width: 40%;
    height: 100%;
    background-color: rgba(338, 245, 255, 0.2);
    border-radius: 25px 0 0 25px;

}

.ss-right{
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    
    border-bottom-left-radius: 0;
}

}

@media (min-width:1300px) {
    .stake-con{
        display: flex;
        flex-direction: row;
    }

    .stake-right{
        flex-direction: column;  
        width: 50%;    
    }

    .stake-right-top{
        width: 90%;
    }
    .stake-right-bottom{
        width: 100%;
    }

    .ss-left{
        width: 50%;
    }

    .ss-right{
        width: 65%;
    }

    .ssr-short{
        height: 20px;
        width: 20%;
        background-color: #E9F1FF;
        margin-bottom: 20px;
        border-radius: 25px;
    }
    
    .ssr-long{
        width: 200px;
    }
}